#dates {
    /* background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)),
      url(../public/images/dates-bg.jpg) fixed center center; */
      background: rgb(255,153,51);
      background: linear-gradient(127deg, rgba(255,153,51,1) 25%, rgba(255,255,255,1) 50%, rgba(19,136,8,1) 75%);
    background-size: cover;
    padding: 60px 0;
  }
  
  #dates h3 {
    color: rgb(32, 102, 222);
    font-size: 28px;
    font-weight: 700;
  }
  
  #dates p {
    color: #fff;
  }
  
  #dates .cta-btn {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #dates .cta-btn:hover {
    background: #18d26e;
    border: 2px solid #18d26e;
  }
  .feature-box .h3{
    color: #18d26e
  }
    .countdown .card {
      background: #15b660;
      color: #000;
      font-weight: 700;
      font-size: 17px;
      display: inline-block;
      margin: 10px;
      min-width: 130px;
      padding: 15px 0;
  
    }