#guest{
    position: relative;
}
#guest .music{
    position: absolute;
    z-index: -1;
    justify-content: center;
    align-items: center;
    /* bottom: 10px; */
}
#guest .music1{
    position: absolute;
    z-index: -1;
    justify-content: center;
    align-items: center;
    /* right: 10px; */
}
#guest .img{
    padding: 20px;
}
#guest .img Image{
    width: 100%;
    height: 100%;
    
    position: relative;
}
#guest p{
    font-weight: 450;
    font-size: 16px;
}